<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ufak.order.mapper.OrderMapper">

    <select id="queryAppPageList" parameterType="map" resultType="com.ufak.order.entity.Order">
        SELECT id,create_time,order_status,(total_amount + freight_amount + event_amount + coupon_amount) as pay_amount FROM t_order
        <include refid="where"/>
        ORDER BY create_time desc
        limit #{start},#{size}
    </select>

    <select id="totalCount" parameterType="map" resultType="long">
        SELECT count(1) FROM t_order
        <include refid="where"/>
    </select>

    <sql id="where">
        <where>
            <if test="userId != null and userId != ''">
                AND user_id = #{userId}
            </if>
            <if test="orderStatus != null and orderStatus != ''">
                AND order_status in
                <foreach item="item" collection="orderStatus" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>

        </where>
    </sql>

</mapper>