<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ufak.order.mapper.OrderDetailMapper">

    <select id="queryByOrderId" resultType="com.ufak.order.entity.OrderDetail">
        SELECT
            detail.*,
            product.`name` as product_name,
            specs1.specs_image as view_image,
            IF(ISNULL(specs2.specs_title),specs1.specs_title,CONCAT(specs1.specs_title,' ',specs2.specs_title)) as specs_name
        from t_order_detail detail
        LEFT JOIN t_product_info product on detail.product_id = product.id
        LEFT JOIN t_product_specs specs1 ON detail.specs1_id = specs1.id
        LEFT JOIN t_product_specs specs2 ON detail.specs2_id = specs2.id
        where order_id = #{orderId}
    </select>

</mapper>