<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ufak.product.mapper.ProductInfoMapper">
    <select id="selectPage" parameterType="map" resultType="com.ufak.product.entity.ProductInfo">
        SELECT
        info.*,
        category.`code` as category_code
        FROM
        t_product_info info
        LEFT JOIN t_product_category category ON info.product_type = category.id
        <include refid="where"/>
        ORDER BY
        info.create_time desc
        limit #{start},#{size}
    </select>

    <select id="totalCount" parameterType="map" resultType="long">
        SELECT count(1) FROM t_product_info info
        LEFT JOIN t_product_category category ON info.product_type = category.id
        <include refid="where"/>
    </select>

    <sql id="where">
        <where>
            <if test="categoryCode != null and categoryCode != ''">
                AND category.code like CONCAT(#{categoryCode},'%')
            </if>
            <if test="productName != null and productName != ''">
                AND info.`name` like CONCAT('%',#{productName},'%')
            </if>
            <if test="state != null and state != ''">
                AND info.`state` = #{state}
            </if>
        </where>
    </sql>

    <!-- 手机端商品列表 start-->
    <select id="queryPhoneProductPage" parameterType="map" resultType="com.ufak.product.entity.ProductInfo">
        SELECT
            info.id,
            substring_index(info.image, ',', 1) as view_image,
            info.`name`,
            info.description,
            info.sales_volume,
            price.price,
            price.virtual_price
        FROM
            t_product_info info
        LEFT JOIN t_product_price price ON info.id = price.product_id
        <include refid="wherePhoneProduct"/>
        <include refid="phoneProductOrderBy"/>
        limit #{start},#{size}
    </select>
    <select id="totalCountPhoneProduct" parameterType="map" resultType="long">
        SELECT count(1) FROM t_product_info info
        LEFT JOIN t_product_price price ON info.id = price.product_id
        <include refid="wherePhoneProduct"/>
    </select>
    <sql id="wherePhoneProduct">
        <where>
            price.default_flag = '0' and info.state = '0'
            <if test="categoryId != null and categoryId != ''">
                AND info.product_type = #{categoryId}
            </if>
            <if test="productName != null and productName != ''">
                AND (info.name LIKE CONCAT('%',#{productName},'%') or info.description LIKE CONCAT('%',#{productName},'%'))
            </if>
        </where>
    </sql>
    <sql id="phoneProductOrderBy">
        <if test="salesVolume != null and salesVolume != ''">
            ORDER BY info.virtual_volume ${salesVolume}
        </if>
        <if test="price != null and price != ''">
            ORDER BY price.price ${price}
        </if>
    </sql>
    <!-- 手机端商品列表 end-->


    <!-- 首页轮播图,分类, 插拔广告关联商品查询 start-->
    <select id="queryAdsProductPage" parameterType="map" resultType="com.ufak.product.entity.ProductInfo">
        SELECT
            info.id,
            substring_index(info.image, ',', 1) as view_image,
            info.`name`,
            info.description,
            info.sales_volume,
            price.price,
            price.virtual_price
        FROM
            t_ads_product ads
        LEFT JOIN t_product_info info on ads.product_id = info.id
        LEFT JOIN t_product_price price ON ads.product_id = price.product_id
        <include refid="whereAdsProduct"/>
        ORDER BY info.sales_volume desc
        limit #{start},#{size}
    </select>
    <select id="totalCountAdsProduct" parameterType="map" resultType="long">
        SELECT count(1) FROM t_ads_product ads
        LEFT JOIN t_product_info info on ads.product_id = info.id
        LEFT JOIN t_product_price price ON ads.product_id = price.product_id
        <include refid="whereAdsProduct"/>
    </select>
    <sql id="whereAdsProduct">
        <where>
            price.default_flag = '0' and info.state = '0'
            <if test="adsId != null and adsId != ''">
                AND ads.ads_id = #{adsId}
            </if>
        </where>
    </sql>
    <!-- 首页轮播图,分类, 插拔广告关联商品查询 end-->


    <!-- 手机端获取商品详细信息 -->
    <select id="getProductDetail" resultType="com.ufak.product.entity.ProductInfo">
        SELECT
            info.id,
            info.image,
            info.detail_images,
            info.name,
            info.description,
            info.service,
            info.sales_volume,
            info.freight_amount,
            info.key_point,
            info.refund_validity,
            price.price,
            price.virtual_price,
            price.stock
            FROM
            t_product_info info
            LEFT JOIN t_product_price price ON info.id = price.product_id and price.default_flag = '0'
            where  price.product_id = #{productId}
    </select>


</mapper>